:root {
	--c1: red;
	--c2: white;
	--c3: #444444;
}
[data-theme='dark'] {
	--c1: red;
	--c3: white;
	--c2: #444444;
}
h1, h2, h3 {font-family: monospace; text-align: center;}
body {font-family: monospace;font-size: 16pt; color: var(--c3);}
a {color: var(--c3);}


::placeholder{
color: var(--c3);
opacity: 1;

}

#web-search
{
	display: block;
	text-align: center;
}


.basic-grid {

display: grid;
gap: 0;
text-align: left;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}
.card form {
text-align: center;
}
body{
background-color: var(--c2);}

.card {
/*background-color: rgba(0,0,0,0.5);*/
padding-bottom: 0;
}

#helpCard {
visibility: hidden;
}

input {
background-color: var(--c2);
color: var(--c3);
border: 1px;
border-style: solid;
border-color: var(--c1);
font-size: 18pt;
font-family: monospace;
text-align: center;
}
input:hover{
color: var(--c1);
transition: 200ms ease;
}
input:focus{
color: var(--c1);
transition: 200ms ease;
outline: 2px solid var(--c1);
}
a:hover {
color: var(--c1);
transition: 200ms ease;
}

ul#helpobjects li{
	font-size: 12pt;
}
